@import 'card';
@import 'stack';

body {
    box-sizing: border-box !important;
    // background-color: rgba(black, 0.5) !important;
    padding-bottom: 50px;
}

h1,
.title-top {
    text-align: center;
}

.game-save-state-zone table {
    width: 100%;
}